<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
</head>
<div>
    <h1>Добавление дела</h1>
    <form action="/todo/add" method="post">
        <input type="text" name="name" value="">
        <button type="submit">Добавить дело</button>
    </form>
    <hr>
</div>
<h1>Список дел(<span th:text="${todosCount}">0</span>)</h1>
<br><br>
<div id="todoList">
    <div th:each="todo : ${todos}">
        <a href="#" class="todo-link" th:attr="data-id=${todo.id}" th:text="${todo.name}"></a>
    </div>
</div>

</div>
</html>
